body{
    color:darkolivegreen;
    background-color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}
.text{
    border:10px solid rgb(28,1,32);
    padding:10px;
    margin:5px;
}
#table{
    border:3px solid rgb(235,167,21);
    padding:10px;
    margin:5px;
    color:darkorange;
}
.box{
    margin:20px;
    border:2px rgb(8,15,0);
    background-color: chartreuse;
    color: black;
    padding: 50px;
    width: 200px;
    display: flex;

}